:root[data-theme='dark'] {
  --primary: #51C28A;
  --secondary: #74DFAA;
  --text: #DDDDDD;
  --title: #EAEAEA;
  --foreground: #282929;
  --background: #131313;
  --background-card: #ffffff0a;
  --text-on-primary: #FFFFFF;
  --text-hover: #888888;
  --primary-hover: #409c6e;

  --code-header: #21222C;

  pre[data-theme='light'],
  code[data-theme='light'] {
    display: none;
  }
}
