:root[data-theme='dark'] {
  --primary: #51C28A;
  --secondary: #74DFAA;
  --text: #AEB2BE;
  --title: #e4e6f5;
  --foreground: #1c1c20;
  --background: #18181a;
  --background-card: #282929;
  --text-on-primary: #FFFFFF;
  --text-hover: #888888;
  --primary-hover: #409c6e;

  --code-header: #21222C;

  pre[data-theme='light'],
  code[data-theme='light'] {
    display: none;
  }
}
