:root[data-theme='light'] {
  --primary: #359967;
  --secondary: #4d9470;
  --text: #090a0a;
  --title: #191b1a;
  --foreground: #dfdfdf;
  --background: #ffffff;
  --background-card: #0000000a;
  --text-on-primary: #FFFFFF;
  --text-hover: #888888;
  --primary-hover: #409c6e;

  --code-header: #f3e9de;

  [data-theme='dark'] {
    display: none;
  }
}

