:root {
  /* Brand */
  --brand-primary: #006666;
  --brand-primary-hover: #013f3f;
  --brand-secondary: #D9CE6A;
  --brand-on-primary: #FFFFFF;
  --brand-on-secondary: #1A1A1E;

  /* Backgrounds */
  --bg-background: #f6f8fd;
  --bg-foreground: #BFC0C6;
  --bg-background-secondary: #E9EAF5;
  --bg-foreground-secondary: #9DBCBC;
  --bg-on-background: #343437;
  --bg-on-foreground: #000000;
  --bg-on-background-secondary: #000000;
  --bg-on-foreground-secondary: #000000;

  /* Code Header */
  --code-header: #f3e9de;
}
/*
@media (prefers-color-scheme: dark) {
  :root {
    --primary: #51C28A;
      --secondary: #74DFAA;
      --text: #DDDDDD;
      --title: #EAEAEA;
      --foreground: #282929;
      --background: #131313;
      --background-card: #282929;
      --text-on-primary: #FFFFFF;
      --text-hover: #888888;
      --primary-hover: #409c6e;

      --code-header: #21222C;


    }
}


@media (prefers-color-scheme: light) {
  :root {
    --primary: #359967;
    --secondary: #4d9470;
    --text: #090a0a;
    --title: #191b1a;
    --foreground: #dfdfdf;
    --background: #ffffff;
    --background-card: #ffffff;
    --text-on-primary: #FFFFFF;
    --text-hover: #888888;
    --primary-hover: #409c6e;

    --code-header: #21222C;


    [data-theme='']  {
      display: none;
    }
  }
} */
