@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #51C28A;
  --secondary: #74DFAA;
  --text: #DDDDDD;
  --title: #EAEAEA;
  --foreground: #282929;
  --background: #131313;
  --text-on-primary: #FFFFFF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #51C28A;
      --secondary: #74DFAA;
      --text: #DDDDDD;
      --title: #EAEAEA;
      --foreground: #282929;
      --background: #131313;
      --text-on-primary: #FFFFFF;
    }
}
