@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #51C28A;
  --secondary: #74DFAA;
  --text: #DDDDDD;
  --title: #EAEAEA;
  --foreground: #282929;
  --background: #131313;
  --text-on-primary: #FFFFFF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #51C28A;
      --secondary: #74DFAA;
      --text: #DDDDDD;
      --title: #EAEAEA;
      --foreground: #282929;
      --background: #131313;
      --text-on-primary: #FFFFFF;
    }
}

@layer base{
  h1{
    @apply text-h1 font-gambarino
  }

  h2{
    @apply text-h2 font-gambarino
  }

  h3{
    @apply text-h3 font-gambarino
  }

  p {
    @apply text-base
  }

  body{
    @apply font-switzer
  }
}
